# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Build

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up java
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 8
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: dependencies
        run: ./gradlew --no-daemon dependencies
      - name: Build and Release with Gradle
        env:
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
        run: ./gradlew --no-daemon bintrayUpload
